<!-- Navbar -->
<nav class="navbar sticky-top bg-dark navbar-expand-lg">

    <div class="container-fluid">
        <a class="navbar-brand text-light" routerLink="/sign-in">
            Admin Logs
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <i class="bi bi-list text-light"></i>

        </button>

    </div>
</nav>

<div class="container py-5">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="row mb-3">
            <div class="offset-sm-2 col-sm-7">
                <h3>Iniciar sesión</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-sm-2 col-sm-7">
                <label for="inputEmail" class="col-sm-0 col-form-label">
                    Correo electrónico (*)
                </label>
                <input formControlName="email" type="email" class="form-control" id="inputEmail">
                <div class="alert alert-warning p-1 mt-2"
                    *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" role="alert">
                    Correo electrónico invalido.
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-sm-2 col-sm-7">
                <label for="inputPassword" class="col-sm-0 col-form-label">
                    Contraseña (*)
                </label>
                <input formControlName="password" type="password" class="form-control" id="inputPassword">
                <div class="alert alert-warning p-1 mt-2"
                    *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    Contraseña invalida.
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="offset-sm-2 col-sm-7">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Recuerdame
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="offset-sm-2 col-sm-7">
                <button type="submit" class="btn btn-primary w-100">
                    <SpinnerComponent *ngIf="spinner == true" />
                    <span *ngIf="spinner == false">Ingresar</span>
                </button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-sm-2 col-sm-7">
                <p class="text-center">Email: test{{"@"}}hotmail.com , Password: 12345678</p>
            </div>
        </div>
    </form>

</div>

<!-- Footer -->
<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Made with <i class="bi bi-heart text-sm"></i></p>
                <p>Ronald Castro T. © 2025</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="https://www.linkedin.com/in/ronaldtro/" style="text-decoration: none;" class="text-light me-3">
                    <i class="bi bi-linkedin"></i> Linkedin
                </a>
                <a href="https://github.com/ronaldtro" style="text-decoration: none;" class="text-light me-3">
                    <i class="bi bi-github"></i> Github
                </a>
                <span class="text-light"> <i class="bi bi-telephone"></i> +573137395166</span>
            </div>
        </div>
    </div>
</footer>